@font-face {
  font-family: "Glacial Indifference";
  font-display: "swap";
  font-style: "normal";
  font-weight: 700;
  src: url("GlacialIndifference-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Glacial Indifference";
  font-display: "swap";
  font-style: "italic";
  font-weight: 400;
  src: url("GlacialIndifference-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Glacial Indifference";
  font-display: "swap";
  font-style: "normal";
  font-weight: 400;
  src: url("GlacialIndifference-Regular.woff2") format("woff2");
}
