@import "styles/fonts/euclid-square.css";
@import "styles/fonts/glacial-indifference.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  input::placeholder {
    @apply text-gray-400;
  }
}
